.table {
  margin-bottom: 63px;
  & td,
  & th {
    border-top: none;
  }
  & .table_head {
    & th {
      border-bottom: 1px solid #000;
    }
  }
  & .table_inner {
    & td,
    & th {
      border-bottom: 1px solid #cdddcd;
    }
    &:hover {
      background: #edf4ee;
    }
    & td:nth-child(n + 5) {
      padding: 8px 0;
    }
  }
}
.table_mail {
  text-transform: lowercase;
}
.table_head i {
  margin-left: 4px;
  color: #2a8356;
  font-size: 18px;
  vertical-align: sub;
}

.pagination {
  & .page-link {
    max-width: 32px;
    max-height: 32px;
    padding: 6px 12px;
    color: #2a8356;
    line-height: 20px;
    background-color: transparent;
    border: 1px solid #2a8356;
    transition: all 0.3s;
    &:hover {
      color: #fff;
      background-color: #2a8356;
    }
  }
}
