/* ==========================================================================
 Variables
========================================================================== */
/*
Table of Contents:
1. Costom Media Query
2.
*/

/* Costom Media Query
	========================================================================== */
@custom-media --sp only screen and (min-width: 0px) and (max-width: 767px);
@custom-media --sptb only screen and (min-width: 0px) and (max-width: 1024px);
@custom-media --tb only screen and (min-width: 768px) and (max-width: 1024px);
@custom-media --tbpc only screen and (min-width: 768px);
@custom-media --pc only screen and (min-width: 1025px);
@custom-media --large only screen and (min-width: 768px) and (max-width: 1199px);
@custom-media --xlarge only screen and (min-width: 1200px);
@custom-media --tblarge only screen and (min-width: 0px) and (max-width: 1000px);

@custom-media --spmax only screen and (min-width: 0px) and (max-width: 768px);
@custom-media --pcmin only screen and (min-width: 769px) and (max-width: 1024px);
@custom-media --pcmax only screen and (min-width: 769px);

:root {
  /* フォントサイズ */
  /*
  $font-size-base: 1rem; //16px

  $font-size-sm: $font-size-base * 0.875; //14px

  $h1-font-size: $font-size-base * 4; //64px
  $h2-font-size: $font-size-base * 3; //48px
  $h3-font-size: $font-size-base * 1.75; //28px
  $h4-font-size: $font-size-base * 1.5; //24px
  $h5-font-size: $font-size-base * 1.25; //20px
  $h6-font-size: $font-size-base; //16px */
  --font-size-base: 1rem;
  --font-size-xs: calc(var(--font-size-base) * 0.75);
  --font-size-sm: calc(var(--font-size-base) * 0.875);
  --h1-font-size: calc(var(--font-size-base) * 4);
  --h2-font-size: calc(var(--font-size-base) * 3);
  --h3-font-size: calc(var(--font-size-base) * 1.75);
  --h4-font-size: calc(var(--font-size-base) * 1.5);
  --h5-font-size: calc(var(--font-size-base) * 1.25);
  --h6-font-size: var(--font-size-base);
}
