.nav--active {
  position: relative;
  & a {
    color: #2a8356;
  }
  &::before {
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #2a8356;
    content: "";
  }
}
.pagination--active {
  & .page-link {
    color: #fff;
    background-color: #2a8356;
  }
}
