.modal-header {
  padding: 32px;
  border-bottom: none;
}
.modal-title {
  font-weight: bold;
  font-size: 24px;
}
.close {
  font-size: 24px;
}
.modal-body {
  padding: 0 32px;
}
.modal--admin {
  & h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 20px;
  }
  & label {
    display: block;
    font-size: 14px;
  }
  & input[type="checkbox"] {
    width: auto;
    margin-top: 5px;
  }
}
.form--notice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  font-size: 1rem;
  & p {
    padding-left: 9px;
  }
}
.verify--status {
  display: flex;
}
.verify--date {
  font-size: 14px;
}
.admin--group {
  padding: 24px 0;
  border-bottom: 1px solid #cdddcd;
  & button {
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
  }
  &:last-child {
    border-bottom: none;
  }
}
.modal-footer {
  padding: 0 2rem 2rem;
  border-top: none;
  & button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }
  & > :not(:last-child) {
    margin-right: 1rem;
  }
}
.form-control {
  width: 100%;
  height: auto;
  padding: 1rem;
  color: #000;
  font-size: 1rem;
  &:hover,
  &:active,
  &:focus {
    background-color: #edf4ee;
  }
  &.value--bg {
    background-color: #edf4ee;
    border: none;
  }
}
.form-check label {
  padding-left: 0.5rem;
  font-size: 1rem;
}

.arrow-btn {
  position: relative;
  &::after {
    position: absolute;
    right: -22px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #2a8356;
    border-right: 2px solid #2a8356;
    transform: translateY(50%) rotate(135deg);
    transition: all 0.3s;
    content: "";
  }
  &._this-open {
    &::after {
      transform: translateY(50%) rotate(315deg);
    }
  }
}
